<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="jquery.js"></script>
    <script src="sockjs.js"></script>
    <script src="stomp.js"></script>
</head>
<body>
${id}
<div id="msg"></div>

<script>
    var id = '${id}';
    var sockJS = new SockJS("http://localhost:8088/socket");
    var stompClient = Stomp.over(sockJS);
    // stompClient.connect({},function (data) {
    //     stompClient.subscribe("/user/"+id+"/sendMessageByServer",function (response) {
    //         console.log(response);
    //         $("#msg").append(response.body+"<br/>");
    //     })
    // })

    stompClient.connect({},function (data) {
        console.log(data);
        stompClient.subscribe("/user/"+id+"/sendMessageByServer",function (response) {
            console.log(response.body);
            $("#msg").append(response.body+"<br/>");
        })
    })

</script>
</body>
</html>